In [1]:
import pandas as pd
df = pd.read_excel("Excel solver dataset.xlsx")
fc =

,Angka pada sel adalah biaya per ton dalam ribuan rupiah,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sumber \ tujuan,Medan,Surabaya,Makasar,Denpasar,NaN,NaN
2,Lampung,10,12,15,18,NaN,NaN
3,Kep. Bangka Belitung,8,14,16,20,NaN,NaN
4,Kep. Riau,6,10,12,16,NaN,NaN
5,DKI Jakarta,12,8,14,10,NaN,NaN
6,Jawa Barat,14,6,10,12,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Matriks variabel Keputusan,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Sumber \ tujuan,Medan,Surabaya,Makasar,Denpasar,Kapasitas Produksi(ton),total pengoriman
13,Lampung,0,620,350,0,970,970
14,Kep. Bangka Belitung,920,0,0,0,920,920
15,Kep. Riau,280,0,550,0,830,830
16,DKI Jakarta,0,190,0,760,950,950
17,Jawa Barat,0,690,0,0,690,690
18,total permintaan,1200,1500,900,760,NaN,NaN
19,total penarimaan,1200,1500,900,760,NaN,NaN
20,total biaya,41590,NaN,NaN,NaN,NaN,NaN